venv/
Lista 2/
Listas/
Metodos/eliminacao_gauss.py
Metodos/metodos_funcoes.py
Aulas/Aula 10 - SistEqsLineares - LU e Cholesky.pdf
Aulas/Aula 9 - SistEqsLineares - Gauss e pivoteamento.pdf
venv\
Metodos\testes.ipynb
Aula\livro-py.pdf